* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  background-image: linear-gradient(90deg, transparent 50%, #89c2d9 50%);
  background-size: 22px 22px;
  background-color: #88e8f2;
  min-height: 100%;
}

.grid-container {
  text-align: center;
  display: grid;
  grid-template-areas: "header header header header" ". nav nav ." ". main main ." ". footer footer .";
  grid-template-rows: 7.1rem auto auto 1fr;
  grid-template-columns: 2rem auto auto 2rem;
}

@media (min-width: 768px) {
  .grid-container {
    grid-template-columns: 4rem auto auto 4rem;
  }
}
@media (min-width: 1024px) {
  .grid-container {
    grid-template-columns: 5rem auto auto 5rem;
  }
}
.header {
  grid-area: header;
  background-color: #D96690;
  border: 3px solid white;
  box-shadow: inset 0 0 30px rgb(255, 0, 255), 0 0 20px rgb(255, 0, 255);
  border-radius: 1rem 1rem 2rem 2rem;
}
.header__logo img {
  width: 6.9rem;
  position: relative;
}

nav {
  grid-area: nav;
  background-color: #D96690;
  border: 3px solid white;
  box-shadow: inset 0 0 20px rgb(255, 0, 255), 0 0 15px rgb(255, 0, 255);
}

.navbar-nav {
  margin: 0 auto;
  display: table;
  table-layout: fixed;
  float: none;
}

.navbar-toggler {
  margin: 0 auto;
  display: block;
  background-color: transparent;
  border: none;
}

.container-fluid {
  font-family: "Kalam", cursive;
  text-decoration: none;
  font-weight: 600;
  color: white;
  font-size: 1.1rem;
}

@media (min-width: 1024px) {
  .container-fluid {
    font-size: 1.5rem;
  }
}
.main {
  grid-area: main;
  background-color: #f28db2;
}

.footer {
  grid-area: footer;
  background-color: #f28db2;
}
.footer img {
  width: 100%;
  margin-top: 3rem;
}
.footer__redes {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-top: 1rem;
}
.footer__redes h4 {
  font-family: "Lobster", cursive;
  font-size: 1.5rem;
  color: white;
  text-shadow: 0 0 5px #ff0a78, 0 0 15px #ff0a78, 0 0 20px #ff0a78;
  margin: 0.781rem;
}
.footer__redes-iconos {
  flex-direction: row;
}
.footer__redes-iconos img {
  margin-bottom: 0.781rem;
  width: 3.7rem;
}
.footer__redes p {
  font-family: "Kalam", cursive;
  font-size: 0.7rem;
}

@media (min-width: 768px) {
  .footer__redes-iconos img {
    width: 7rem;
  }
}
@media (min-width: 1024px) {
  .footer__redes h4 {
    font-size: 2.5rem;
  }
}
.sectionA {
  background-color: #f28db2;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-around;
}
.sectionA__img {
  border: 3px solid white;
  box-shadow: 19px 12px 5px 0px rgba(224, 12, 202, 0.53);
  -webkit-box-shadow: 19px 12px 5px 0px rgba(224, 12, 202, 0.53);
  -moz-box-shadow: 19px 12px 5px 0px rgba(224, 12, 202, 0.53);
  width: 15rem;
  margin-top: 3.125rem;
  display: none;
}
.sectionA__texto {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.sectionA__texto img {
  width: 16rem;
  margin: 1rem 0 1rem 0;
}
.sectionA__texto p {
  font-family: "Kalam", cursive;
  font-size: 1rem;
  color: black;
  text-align: center;
  padding: 5px;
  margin-bottom: 0.625rem;
}

.btn-reserva {
  font-size: 0.8rem;
  min-width: 5rem;
  height: 2rem;
  color: black;
  padding: 0.4rem 0.625rem;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.3s ease;
  display: inline-block;
  outline: none;
  border: 2px solid #f2C9E0;
  background: #D96690;
  text-decoration: none;
  font-family: "Kalam", cursive;
  text-align: center;
  border-radius: 5px;
}
.btn-reserva:hover {
  background: #fff;
  color: #ff0a78;
}

@media (min-width: 768px) {
  .sectionA {
    flex-direction: row;
  }
  .sectionA__img {
    display: block;
    width: 20rem;
  }
}
@media (min-width: 1024px) {
  .sectionA__img {
    width: 25rem;
  }
  .sectionA__texto img {
    width: 20rem;
  }
  .sectionA__texto p {
    font-size: 1.5rem;
  }
}
.sectionB {
  background-color: #f28db2;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-around;
  margin-top: 0.781rem;
}
.sectionB img {
  border: 3px solid white;
  box-shadow: 19px 12px 5px 0px rgba(224, 12, 202, 0.53);
  -webkit-box-shadow: 19px 12px 5px 0px rgba(224, 12, 202, 0.53);
  -moz-box-shadow: 19px 12px 5px 0px rgba(224, 12, 202, 0.53);
  margin-top: 1rem;
  margin-bottom: 0.75rem;
  width: 50%;
  align-items: center;
}
.sectionB__texto {
  display: flex;
  flex-direction: column;
  width: 100%;
  text-align: center;
}
.sectionB__texto h2 {
  font-size: 1.5rem;
  padding: 1.25rem;
  font-family: "Kalam", cursive;
}
.sectionB__texto h1 {
  font-family: "Lobster", cursive;
  font-size: 2.5rem;
  color: white;
  text-shadow: 0 0 5px #ff0a78, 0 0 15px #ff0a78, 0 0 20px #ff0a78;
  padding-bottom: 1rem;
}
.sectionB__texto p {
  font-family: "Kalam", cursive;
  font-size: 1rem;
}

@media (min-width: 768px) {
  .sectionB {
    flex-direction: row;
  }
  .sectionB__texto {
    flex-direction: column;
    width: 50%;
  }
  .sectionB img {
    width: 14rem;
  }
}
@media (min-width: 1024px) {
  .sectionB__texto h2 {
    font-size: 2rem;
    margin-bottom: 2rem;
  }
  .sectionB__texto h1 {
    font-size: 3.5rem;
    margin-bottom: 2rem;
  }
  .sectionB__texto p {
    font-size: 1.3rem;
  }
  .sectionB img {
    width: 20rem;
  }
}
.sectionC {
  background-color: #f28db2;
}

.galeria-titulo {
  padding-top: 1rem;
  font-family: "Kalam", cursive;
  text-align: center;
  font-size: 1.5rem;
}

.grid-galeria {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  grid-auto-rows: minmax(200px, auto);
  gap: 0.5rem;
  padding: 0.6rem;
  grid-auto-flow: dense;
}
.grid-galeria .grid-item {
  border: 3px solid white;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #03afff;
  border-radius: 4px;
  transition: transform 0.3s ease-in-out;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.grid-galeria .grid-item:hover {
  filter: opacity(0.9);
  transform: scale(1.04);
}
.grid-galeria .grid-item img {
  width: 100%;
  height: 19rem;
}

@media (min-width: 1024px) {
  .galeria-titulo {
    padding-top: 2rem;
    font-size: 2rem;
  }
  .grid-galeria {
    gap: 1.1rem;
    padding: 1.25rem;
  }
  .grid-galeria .grid-item img {
    height: 21rem;
  }
}
/* PRODUCTOS */
.sectionD {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-around;
  margin-top: 1rem;
}
.sectionD h1 {
  font-family: "Lobster", cursive;
  font-size: 2.5rem;
  color: white;
  text-shadow: 0 0 5px #ff0a78, 0 0 15px #ff0a78, 0 0 20px #ff0a78;
  justify-content: center;
  align-items: center;
  margin-top: 1rem;
}
.sectionD video {
  display: none;
}

@media (min-width: 768px) {
  .sectionD {
    flex-direction: row;
    margin-top: 2rem;
  }
  .sectionD video {
    display: block;
    width: 55%;
    border: 3px solid white;
    border-radius: 4px;
  }
  .sectionD h1 {
    display: flex;
    font-size: 3.5rem;
  }
}
.sectionE {
  font-size: 1.25rem;
  padding-top: 2.5rem;
  font-family: "Kalam", cursive;
}

.sectionF {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 3rem;
}
.sectionF h1 {
  margin-bottom: 3rem;
  font-family: "Lobster", cursive;
  font-size: 2.5rem;
  color: white;
  text-shadow: 0 0 5px #ff0a78, 0 0 15px #ff0a78, 0 0 20px #ff0a78;
}
.sectionF__sucursal {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  border: 3px solid white;
  border-radius: 4px;
  background-color: #89c2d9;
  margin-bottom: 3rem;
}
.sectionF__sucursal-titulo {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  margin-top: 2rem;
}
.sectionF__sucursal-map {
  align-items: center;
  justify-content: center;
  width: 100%;
}
.sectionF__sucursal h2 {
  font-family: "Lobster", cursive;
  font-size: 2.5rem;
  color: white;
  text-shadow: 0 0 5px #ff0a78, 0 0 15px #ff0a78, 0 0 20px #ff0a78;
  font-size: 2rem;
}
.sectionF__sucursal p {
  font-family: "Kalam", cursive;
  font-size: 1.25rem;
}

@media (min-width: 768px) {
  .sectionF h1 {
    font-size: 4rem;
  }
  .sectionF__sucursal {
    display: flex;
    flex-direction: row;
    width: 90%;
    justify-content: space-around;
  }
  .sectionF__sucursal-titulo {
    flex-direction: column;
    justify-content: center;
    width: 40%;
  }
  .sectionF__sucursal-titulo h2 {
    font-size: 2.5rem;
  }
  .sectionF__sucursal-titulo p {
    font-size: 1.5rem;
  }
  .sectionF__sucursal-map {
    width: 60%;
  }
  .sectionF__sucursal-map iframe {
    width: 100%;
    height: 30rem;
  }
}
.sectionG {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.sectionG__titulo {
  font-family: "Lobster", cursive;
  font-size: 2.5rem;
  color: white;
  text-shadow: 0 0 5px #ff0a78, 0 0 15px #ff0a78, 0 0 20px #ff0a78;
  margin: 4rem;
}
.sectionG form {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 20px;
  background-color: #f2C9E0;
  border-radius: 8px;
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  width: 85%;
  justify-content: center;
  align-items: center;
  margin-bottom: 5rem;
  border: 3px solid white;
  box-shadow: 19px 12px 5px 0px rgba(224, 12, 202, 0.53);
  -webkit-box-shadow: 19px 12px 5px 0px rgba(224, 12, 202, 0.53);
  -moz-box-shadow: 19px 12px 5px 0px rgba(224, 12, 202, 0.53);
}
.sectionG form select {
  text-align: center;
  width: 100%;
  height: 2rem;
  border: 2px solid var(--RosaUno);
  border-radius: 5px;
}
.sectionG form textarea {
  height: 5rem;
  width: 100%;
  resize: vertical;
}
.sectionG form input {
  margin-top: 1rem;
  width: 100%;
  height: 2rem;
}
.sectionG label {
  display: block;
  font-weight: bold;
  font-family: "Kalam", cursive;
  font-size: 1rem;
  margin-top: 1rem;
}
.sectionG label input, .sectionG label textarea {
  text-align: center;
  width: 90%;
  height: 1.2rem;
  margin-top: 1.25rem;
  border: 2px solid var(--RosaUno);
  border-radius: 5px;
}

.btn-contacto {
  font-family: "Kalam", cursive;
  text-align: center;
  font-size: 1rem;
  color: black;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
  transition: all 0.3s ease;
  display: inline-block;
  outline: none;
  border: 2px solid #D96690;
  background: #f28db2;
}
.btn-contacto:hover {
  background: #fff;
  color: #ff0a78;
}

@media (min-width: 768px) {
  .sectionG h1 {
    font-size: 4rem;
  }
  .sectionG form {
    grid-template-columns: 1fr 1fr;
  }
  .sectionG form label {
    font-size: 1.5rem;
    margin-top: 1.4rem;
  }
  .sectionG form input {
    margin-top: 1.2rem;
    width: 90%;
    height: 2.5rem;
  }
  .sectionG form textarea {
    height: 10rem;
    width: 90%;
  }
  .sectionG form select {
    width: 90%;
  }
  .sectionG .btn-contacto {
    font-size: 1.5rem;
    margin: 2rem;
  }
}

/*# sourceMappingURL=estilo.css.map */
